



		<div class="row">
			<div class="col-lg-12">

				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Chicken
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu">
							<li>
								<table class="table table-responsive table-bordered">
									<tr>
										<th>
											Select
										</th>

										<th>
											Name
										</th>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>chicken korma</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>chicken nihari</td>


									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>chicken achari</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>chicken handi</td>

									</tr>

								</table>
							</li>

						</ul>
					</li>
				</ul>
			</div>






			<div class="col-lg-12">

				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Mutton
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu">
							<li>
								<table class="table table-responsive table-bordered">
									<tr>
										<th>
											Select
										</th>

										<th>
											Name
										</th>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Mutton karahi</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Mutton Aloo Ghost</td>


									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Mutton katta kat</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Mutton balti Ghost</td>

									</tr>

								</table>
							</li>

						</ul>
					</li>
				</ul>
			</div>







			<div class="col-lg-12">

				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Beef
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu">
							<li>
								<table class="table table-responsive table-bordered">
									<tr>
										<th>
											Select
										</th>

										<th>
											Name
										</th>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Beef karahi</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Beef Aloo keema</td>


									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Beef nihari</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Beef haleem</td>

									</tr>

								</table>
							</li>

						</ul>
					</li>
				</ul>
			</div>


			<div class="col-lg-12">

				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Dessert
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu">
							<li>
								<table class="table table-responsive table-bordered">
									<tr>
										<th>
											Select
										</th>

										<th>
											Name
										</th>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Cake</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Fruit jelly</td>


									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Fruit trifle</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Ras Malai</td>

									</tr>

								</table>
							</li>

						</ul>
					</li>
				</ul>
			</div>


			<div class="col-lg-12">

				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Hot Beverages
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu">
							<li>
								<table class="table table-responsive table-bordered">
									<tr>
										<th>
											Select
										</th>

										<th>
											Name
										</th>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Espresso coffee</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Cappuccino Coffee</td>


									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Black Tea</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Green Tea</td>

									</tr>

								</table>
							</li>

						</ul>
					</li>
				</ul>
			</div>

			<div class="col-lg-12">

				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Cold Beverages
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu">
							<li>
								<table class="table table-responsive table-bordered">
									<tr>
										<th>
											Select
										</th>

										<th>
											Name
										</th>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Seasonal Fresh Juices</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Lemonade</td>


									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Soft Drinks</td>

									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>Ice Tea</td>

									</tr>

								</table>
							</li>

						</ul>
					</li>
				</ul>
			</div>
		</div>
	