
	<div class="outerfooter">
	<div>
		<img class="active img-responsive" src="~/Picture/marqe.png" width="100" height="60" />
		<p class="mehria">Mehria Wedding Marque</p>
		<p class="special">A truly magnificent setting </p>
		<p class="special">for your special event</p>
	</div>

	<div>
		<p class="Quick">Quick Links</p>
		<div class="Quicklinkineer">
			<ul class="">
				<li><a href="#" class="arrow">Functions</a></li>
				<li><a href="#" class="arrow">Account Reports</a></li>
				<li><a href="#" class="arrow">Stocks</a></li>
			</ul>
		</div>
	</div>

	<div>
		<img class="active img-responsive" src="~/Picture/CodePub3.jpg" width="85" height="85" />
		<p>DEVELOPED BY CODEPUB</p>
		<p>COPYRIGHT @@ 2020</p>

	</div>
</div>