<!DOCTYPE html>
<html>
<head>
	

	
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/headerhover.css" rel="stylesheet" />
	<link href="~/Content/sidebarcollapse.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>






	<header>
		@RenderPage("~/Views/Shared/combine/Header_name.cshtml");
	</header>
	
	

		

	
	<div class="container " style="margin-top:50px;">
	
	
		
	<div class="reserve " style="display:flex; justify-content:flex-end  "  >

		<h5 class="label-warning alert progress-bar-striped ">Send Request For Specific Functions Stock  Which is Required For Function </h5>


	</div>
		
		<div id="Gridtable">

			@RenderBody();
		</div>




	</div>
	
		<hr />
		
	

	
		<footer class="footer ">
@RenderPage("~/Views/Shared/combine/Footer_name.cshtml");
		</footer>
		<script src="~/scripts/Gridview.js"></script>
		<script src="~/scripts/popup.js"></script>
		<script src="~/scripts/jquery-3.4.1.js"></script>
		<script src="~/scripts/bootstrap.js"></script>



</body>
</html>